/* Large screen styles: 1025px+ */
@media (min-width: 1025px) {
    .main-content2{
        justify-self: center;
        background-color: var(--primary-color);
        text-align: center;
        box-shadow: var(--box-shadow);
        min-height: 300px;
        overflow-y: hidden;
        max-width: 7000px;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        grid-area: "cards";
        width: 100%;
        padding: 10px;
    }
    .cards-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .hero {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        text-align: left;
    }
    .hero h1 {
        flex-basis: 100%;
        text-align: center;
    }
    .topheader {
        display: flex;
        
    }
    .topheader h1 {
        order: 2;
    }
    #menu{
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        list-style-type: none; /*this got rid of bullet points*/
        background-color: var(--background-color);
        box-shadow: var(--box-shadow);
        z-index: 9;
        border-radius: var(--border-radius);
        width: max-content;
        min-width: 100px;
        right: 10px;
    }

  }