/* This is the CSS file for the Chamber of Commerce website */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    color:#130D01;
    font-weight: 400;
}
body {
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px;
    padding: 10px 0;
    box-shadow: #011936 2px 2px 5px;
    max-height: 200px;
    overflow: hidden; /* Hide overflow */
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.logo {
    background: rgba(255, 255, 255, 0.65); /* Semi-transparent background */
    margin-left:20px;
    box-shadow: #011936 2px 2px 5px;
    animation: fadeIn 2s ease-in;
    border-radius: 20px;
}
.top-header h1 {
    background-color:rgba(255, 255, 255, 0.65);;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: #011936 2px 2px 5px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-text {
    position: relative;
    z-index: 1;
    text-align: center;
    background: rgba(18, 125, 114, 0.85); /* Semi-transparent background */
    padding:1.5rem;
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.hero-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background:#917446;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
    transition: background-color 0.3s ease-in-out;
    animation: bounce 1.3s ease-in-out infinite;
}
.hero-button:hover {
    background: #FEF9EF;
}
#menu {
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    list-style-type: none; /*this got rid of bullet points*/
}
#menu li {
    margin:10px;
    background-color:#917446;
    align-items: center;
    box-shadow: #011936 2px 2px 5px;
    padding: 5px;
    align-content: center;
    border-radius: 5px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(244, 244, 244, 0.55);
    box-shadow: #011936 2px 2px 5px;
}

nav li a {
    align-items: center;
    margin:10px;
    padding: 5px;
    transition: background-color 0.2s ease-in-out;

}

nav ul li a.active {
    color:#f4f4f4;
    font-weight: 600;
    text-shadow: #130D01 1px 1px 2px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #127d72;
    color: #FEF9EF;
    text-shadow: #130D01 1px 1px 5px;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
}
nav ul li a:visited {
    background-color: #127d72;
}
.main-content {/* Main content for home page */
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin: 20px;
    background-color: rgba(244, 244, 244, 0.65);
    box-shadow: #011936 2px 2px 5px;
    border-radius: 10px;
    align-items: stretch;
}
section {
    padding: 20px;
    margin: 10px;
    background-color:rgba(244, 244, 244, 0.65);
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
}
.events, #weather-section {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
.events {
    grid-column: 1/2;
    grid-row: 2;
}
.main-content h2 {
    grid-column: 1/-1;
    font-size: 2rem;
}
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
#weather-section {
    background-color:#917446;
    grid-column: 2/3;
    grid-row:2;
    animation: slideIn 1s ease-out;
}
.spotlights {
    grid-column: 1/-1;
    grid-row:3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    animation: fadeIn 2s ease-in;
}
.spotlights img {
    box-shadow: #011936 2px 2px 5px;
    border-radius: 5px;

}
.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.foot-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgba(244, 244, 244, 0.65);
    margin:20px;
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
    
}
