/* This is the CSS file for the site plan page */
*, *::before, *::after {
	box-sizing: border-box;/*width and height set only apply to the content of the element*/
    font-family: var(--font-family);
    font-weight: var(--regular-weight);
    color: black;
    text-decoration: none;
}
:root {
    --primary-color: #0094c6;
    --secondary-color: #cc1d6f;
    --third-color:rgba(250,198,225,0.8);
    --text-color: #0d0106;
    --light-color: #fefefe;
    --text-shadow: #0d0106 1px 1px 2px;
    --box-shadow: #0d0106 2px 2px 5px;
    --border-radius: 10px;
    --background-color:rgba(246, 244, 198, 0.65);
    --border-color:var(--secondary-color);
    --font-family: "Barlow", sans-serif;
    --regular-weight: 400;
    --bold: 600;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none; /*this got rid of bullet points*/
    padding: 10px 0;
    width: max-content;
    background-color: #0094c6;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
    font-weight: 400;
}
#menu li {
    margin: 0 10px;
    padding-right: 20px;
}
nav ul li a.active {
    background-color:var(--secondary-color);
    color:#FEF5EF;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #ff331f ;
    border-radius: 5px;
}
nav ul li a:visited {
    background-color:var(--secondary-color);
    color: #FEF9EF;
}
header {
    background-color: var(--third-color);
    box-shadow: #011936 2px 2px 5px;
    border-radius: var(--border-radius);
}
body {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
    font-weight: 400;
    background-color: #FEF5EF;
    padding: 60px;
    background-color: var(--background-color);
}
h2 {
    background-color: #0094c6;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
}
.wireframe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding:20px;
    box-shadow: #011936 2px 2px 5px;
}
.wireframe img {
    max-width: 400px;
    height: auto;
}