* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
    grid-column: span 2;
    text-align: start;
    font-size: 2.5rem;
    color: #011936;
    font-weight: 100; 
}
h2 {
    background-color: #011936;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    color:#f4f4f4;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
}
body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color:#1B998B;
    text-align: center;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header img {
    margin-right: 20px;
    border-radius: 10%;
    height: 150px;
    width: auto;
    box-shadow: 2px 2px 5px;
}

.name {
    font-size: 40px;
    color: #011936;
    font-weight: 600;
}

nav {
    display: flex;
    flex-direction: row;
    width:100%;
    background-color:#011936;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; /*this got rid of bullet points*/
    padding: 10px 0;
    width: 100%;
}

nav ul li a {
    padding:5px 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
nav ul li a:hover {
    background-color: #FFCFD2;
    color: #011936;
    border-radius: 5px;
}
/* wayfinding*/
nav ul li a.active {
    background-color: #FFCFD2;
    color: #011936;
    border-radius: 5px;
}
/*hamburger*/
#menu-toggle {
    display: none;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
#section1 {
    grid-column: span 1;
    background-color: #FFCFD2;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
}
#section2 {
    grid-column: span -1;
    background-color: #FFCFD2;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
}
#section2 img {
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
}
#section3 {
    grid-column: span 2;
    background-color: #FFCFD2;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #011936 2px 2px 5px;
}

footer {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    background-color: #1B998B;
}
/* Course button styles */
.course-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px; 
 
}

/* Completed course styles */
.completed {
    background-color: #1B998B;
    color: white;
    border-radius: 5px;
    box-shadow: #011936 2px 2px 5px;
    margin: 5px 0;
    text-shadow: #011936 1px 1px 2px;
}

/* Not completed course styles */
.not-completed {
    background-color:#FFCFD2;
    color: white;
    border-radius: 5px; 
    box-shadow: #011936 2px 2px 5px;
    margin: 5px 0;
    text-shadow: #011936 1px 1px 2px;
}
